<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>未授权</title>

    <div id="header" th:replace="Common/head :: head"></div>
</head>

<body class="body-404">

<div class="container">

    <section class="error-wrapper">
        <i class="icon-404"></i>
        <h1>未授权</h1>
        <h2>没有权限噢...</h2>
        <p class="page-404"><!--Something went wrong or that page doesn’t exist yet.--> <a th:href="@{/mainHome}">返回首页</a></p>
    </section>

</div>


</body>
</html>
